<!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About App
                    <small> - It's Nice to Meet You!</small>
                </h1>
                <p>Here we could mix our teams for Laneros Coworking soccer matches!</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">About Me</h2>
            </div>
            <div class="col-lg-12 text-center">
                <img class="img-circle img-responsive center-block" src="https://avatars2.githubusercontent.com/u/1373345?s=200" alt="Me">
                <h3>Matías Gil
                    <small>iOS - RoR developer</small>
                </h3>
                <p>I like coding, playing videogames and doing some spors ;)</p>
            </div>
        </div>