<div class="jumbotron">
  <h2>Hello, Laneros Coworking!</h2>

  <h5>Here we can add names of players and then create the teams randomly. Go ahead!</h5>
  <p><a class="btn btn-primary btn-lg" href="<%= index_mix_teams_path %>" role="button">Mix Teams</a></p>
</div>

