<div class="row">
	<div class="col-lg-4 col-sm-6 text-center">
	    <small>1. Add players names</small>
	</div>
	<div class="col-lg-4 col-sm-6 text-center">
	    <small>2. Create the teams</small>
	</div>
</div>

<div class="row">
<form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Player Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Player Name">
  </div>
  <div class="form-group col-lg-12">
    <button type="button" class="btn btn-default" aria-label="Left Align">
 		 <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</button>
  </div>
  <div class="row col-lg-12 pull-right">
  <button type="submit" class="btn btn-default">Mix Teams</button>
  </div>
</form>
</div>