<table class="table table-hover"> 
	<thead> 
		<tr> 
			<th>Team A <% if @team_selected == 1 %><span class="glyphicon glyphicon-asterisk"><% end %></span></th> 
		</tr> 
	</thead> 
	<tbody> 
		<% @team_a.each do |name| %>
		<tr> 
			<td><%= name %></td>
		</tr> 
		<% end %>
	</tbody> 
</table>

<table class="table table-hover"> 
	<thead> 
		<tr> 
			<th>Team B <% if @team_selected == 0 %><span class="glyphicon glyphicon-asterisk"><% end %></th> 
		</tr> 
	</thead> 
	<tbody> 
		<% @team_b.each do |name| %>
		<tr> 
			<td><%= name %></td>
		</tr> 
		<% end %>
	</tbody> 
</table>