<table class="table table-hover"> 
	<thead> 
		<tr> 
			<th>Team A</th> 
		</tr> 
	</thead> 
	<tbody> 
		<tr> 

			<td>3</td>
		</tr> 
		<tr>
			<td>4</td>
		</tr>
	</tbody> 
</table>

<table class="table table-hover"> 
	<thead> 
		<tr> 
			<th>Team B</th> 
		</tr> 
	</thead> 
	<tbody> 
		<tr> 
			
			<td>3</td>
		</tr> 
	</tbody> 
</table>